

.table-content {
  display: flex;
}
.table-header-1,
.table-content-1 {
  width: 300px;
  /* background-color: aqua; */
}

.table-header-2,
.table-content-2 {
  width: 150px;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 255, 17);
}

.table-header-3,
.table-content-3 {
  width: 150px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 0, 200);
}

.cart-table {
  width: 100%;
  border-bottom: 1px solid black;
}

.table-content-1 img {
  width: 80px;
  height: 80px;
}

.img-name{
  display: flex;
  align-items: center;
}

.table-content-2 {
  display: flex;
  align-items: center;
  
}

.table-content-3 {
  display: flex;
  align-items: center;
  
}

.table-content-3 input{
  border:none;
  font-size: 15px;
  width:20px;
  display: flex;
  justify-content: center;
}
.table-content-3 button {
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;

}